/*__Layout__*/

header {
    background-color: #1E1E22;
    text-align: center;
    padding: 12%;
}

ul.topnav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1E1E22;
}

ul.topnav li a {
    display: block;
    color: #EEE9F3;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px solid #1E1E22;
    border-radius: 6px;
}

ul.topnav li a:hover {
    border: 1px solid #8F1FD9;
    color: #b9a8c2;
}



/*__Elements__*/

a {
    color: #EEE9F3;

}

body {
    background-color: #121214;
}

p {
    color: #EEE9F3;
    font-size: 20px;
}

.button-transparent {
    background-color: #121214;
    color: #EEE9F3;
    padding: 1%;
    border: 1px solid #121214;
    border-radius: 6px;
}

.button-highlighted {
    background-color: #1E1E22;
    color: #EEE9F3;
    padding: .75%;
    border: 1px solid #8F1FD9;
    border-radius: 6px;
}

.button-transparent:hover {
    filter: brightness(1.25);
}

button:hover {
    cursor: pointer;
    color: #b9a8c2;
}
