/*__Layout__*/

header {
    background-color: #1E1E22;
    text-align: center;
    padding: 3rem;
}

ul.topnav {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #1E1E22;
}
@media (max-width: 768px) {
  ul.topnav {
    flex-direction: column;
    align-items: center;
  }
}

ul.topnav li a {
    display: block;
    color: #EEE9F3;
    padding: 1rem .75rem;
    text-decoration: none;
    border: 1px solid #1E1E22;
    border-radius: 6px;
}
@media (max-width: 768px) {
    ul.topnav li a:active {
    background-color: #2a2a30;
  }
}

ul.topnav li a:hover {
    border: 1px solid #8F1FD9;
    color: #b9a8c2;
}



/*__Elements__*/

body {
    background-color: #121214;
}


/*Fonts*/
p {
    color: #EEE9F3;
    font-size: 20px;
}

a {
    color: #EEE9F3;
}


/*Buttons*/
.button-transparent {
    background-color: #121214;
    color: #EEE9F3;
    padding: 1%;
    border: 1px solid #121214;
    border-radius: 6px;
}

.button-highlighted {
    background-color: #1E1E22;
    color: #EEE9F3;
    padding: .75%;
    border: 1px solid #8F1FD9;
    border-radius: 6px;
}

.button-transparent:hover {
    border: 1px solid #8F1FD9;
}

button:hover {
    cursor: pointer;
    color: #b9a8c2;
}
